body {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.myimg {
    padding-right: 25px;
    max-width: 120px;
    min-width:120px;
    max-height: 120px;
    object-fit: cover;
}

/*div.myimgcontainer {
    min-width: 120px;
    padding:1px;
}*/

.flex-grid {
    display: flex;
}

.flexcol {
    flex: 1;
}

.flexcol3 {
    /*flex: 3;*/
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 150px;
    min-width: 120px;
}

/*@media (max-width: 400px) {
    .flex-grid {
        display: block;
    }
}*/

/*.flexrow {
    flex-direction: row;
}*/

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

span.status-message {
    font-size: 0.75em;
    color: lime;
    padding-right: 10px;
    padding-bottom: 0px;
}

span.status-message.redmessage {
    font-size: 0.75em;
    color: red;
}


