body {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
    width:100%;
    height:100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#countdownClock {
    color: white;
    font-size: 3rem;
    font-family: "Lucida Console", Monaco, monospace;
    border: 2px solid white;
    border-radius: 0.25em;
}

#countdownClockWhiteBg {
    color: black;
    font-size: 3rem;
    font-family: "Lucida Console", Monaco, monospace;
    border: 2px solid black;
    border-radius: 0.25em;
}

/*#region grid areas*/

.myimg {
    grid-area: col1;
}

.myname {
    grid-area: col2up;
}

.mystockmsg {
    grid-area: col3up;
    text-align:center;
    align-self:center;
}

.mystatusmsg {
    grid-area: col4up;
    text-align: center;
    align-self: center;
}

.myprice {
    grid-area: col5up;
}

.mydesc {
    grid-area: col2down
}

.quantity {
    grid-area: col3down;
}

.myupdbtn {
    grid-area: col4down;
}

.myviewbtn {
    grid-area: col5down;
}
/*#endregion*/


/*#region ProductSummary content*/

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 28px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

span.status-message {
    font-size: 0.8em;
    color: lime;
    padding: 0;
    margin: 0;
}

    span.status-message.redmessage {
        color: red;
    }

span.stock-message {
    font-size: 0.8em;
    color: red;
    padding: 0;
    margin: 0;
}

.myimg {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: start;
    padding-right: 15px;
    max-width: 90px;
    max-height: 90px;
    align-self: flex-start;
    justify-content: flex-start;
    /*object-fit: cover;*/
}

.myimgitem {
    padding: 0;
    margin: 0;
    max-width: 90px;
    vertical-align: top;
    max-height: 90px;
    object-fit: fill;
}

.navbar-right {
    float: right !important;
    margin-right: 10px;
    margin-left: 10px;
}

.label.priceClass {
    float:left;
    margin:0.25em;
    font-size: 14px;
}

#btnUpdate, #btnViewCart {
    float: right;
    margin: 0;
    margin-left:0.5em;
    margin-right:0.25em;
    bottom:0;
}

#quantityContainer {
    position: relative;
    float: right;
    top: 0;
    min-width: 90px;
    padding:0;
}

.label-info{
    background-color:tan;
}

.myname{
    font-size:1.2em;
}

.well-sm{
    border-bottom-color:slategray;
}

/*#endregion*/


/*#region responsive grid design*/
/* mobile/base (including everything above) */
/* hide description grid areas and show universal "View Cart" button */
#shortDesc {
    display: none;
}
#desc {
    display: none;
}

#summaryCartBtn{
    display:inline;
}

#longStock {
    display: none;
}

#shortStock {
    display: inline;
}


/* hide description and "View Cart" button per item */
.mydesc {
    display: none;
}

.myviewbtn {
    display: none;
}

.mainchilddiv {
    display: grid;
    box-sizing: border-box;
    padding: 2px;
    margin: 0;
    grid-template-rows: 35px auto;
    grid-template-columns: 95px minmax(auto, 150px) 100px 80px;
    grid-template-areas: 'col1 col2up   col3up   col4up' 'col1 col5up   col3down col4down';
    grid-gap: 2px;
    /*grid-auto-rows: 100px;*/ /*  grid height fixed (minimum set useful in cramped tables) */
    /*background-color: #2196F3;*/
}

    /*.mainchilddiv > div {
        background-color: rgba(255, 255, 255, 0.8);
    }*/

/* mobile landscape */
@media all and (min-width: 480px) {

    #shortDesc {
        display: inline;
    }

    #desc {
        display: none;
    }

    #summaryCartBtn {
        display: none;
    }

    .label.priceClass {
        float: right;
        font-size: 18px;
    }

    /* show description and "View Cart" */
    .mydesc {
        display: inline-block;
    }

    .myviewbtn {
        display: inline-block;
    }

    .mainchilddiv {
        display: grid;
        box-sizing: border-box;
        padding: 2px;
        margin: 0;
        grid-template-rows: 40px auto;
        /*grid-template-columns: 2em minmax(0, 1fr) 2em;*/
        grid-template-columns: 95px auto 100px 80px 110px;
        grid-template-areas: 'col1 col2up   col3up   col4up   col5up' 'col1 col2down col3down col4down col5down';
        grid-gap: 2px;
        /*grid-auto-rows: 100px;*/            /*  grid height fixed (minimum set useful in cramped tables) */
        /*background-color: #2196F3;*/
    }
        /*  next section stylle used during grid layout only */
        /*.mainchilddiv > div {
            background-color: rgba(255, 255, 255, 0.8);
        }*/
}

/* tablet */
@media all and (min-width: 768px) {
    .mainchilddiv {
        margin-bottom: 0.5rem;
    }
}

/* desktop */
@media all and (min-width: 1024px) {
    #longStock {
        display: inline;
    }

    #shortStock {
        display: none;
    }

    #shortDesc {
        display: none;
    }

    #desc {
        display: inline;
    }

    #quantityLineBrk {
        display: none;
    }

    .myname {
        font-size: 1.5em;
    }

    .mainchilddiv {
        display: grid;
        grid-template-columns: 95px auto 145px 80px 110px;
    }
}

/* desktop wide */
@media all and (min-width: 1200px) {

}

/* #endregion*/
























